@import "tailwindcss";

@theme {
  --color-primary: black; /*primay to access this color */
  --color-secondary: #ef4444; /* Tailwind red-500 hex */
}

.active hr {
  @apply block;
}
.active {
  @apply text-red-500;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.6s ease-out forwards;
}
